name: Run conventional-prerelease on merge to main

on:
  push:
    branches:
      - main

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Configure Git
        env:
          GH_TOKEN: ${{ secrets.GH_ACTIONS_PERSONAL_ACESS_TOKEN }}
        run: |
          git config --global user.email "italorockamaral@gmail.com"
          git config --global user.name "ItaloRAmaral"

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: '8'

      - name: Install dependencies
        run: pnpm install

      - name: Run conventional-prerelease
        run: pnpm run conventional-prerelease
