name: Unit Tests Pipeline

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
env:
  HUSKY: 0

jobs:
  tests-pipeline:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ github.workspace }}

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v2.2.1
        with:
          version: '8'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Run tests
      #   run: pnpm run test:unit

      - name: Run tests
        run: pnpm exec nx run core-rest-api-core:test
